/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 75%;
}
@media (max-width: 800px) {
  html {
    font-size: 68.75%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 62.5%;
  }
}
div.wrapper {
  border: 1px solid black;
  background-color: #fffdd0;
}
.wrapper {
  max-width: 880px;
  padding: 5%;
}
.wrapper nav {
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .wrapper nav {
    flex-flow: column nowrap;
  }
}
.wrapper nav .navLink {
  padding: 20px;
  text-decoration: none;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .wrapper nav .navLink {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .wrapper nav .navLink.partyFlair {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}
.wrapper h1 {
  font-size: 4rem;
  padding: 5px;
  padding-left: 0px;
}
.wrapper h2 {
  font-size: 3rem;
  padding: 5px;
  padding-left: 0px;
}
.wrapper h3 {
  font-size: 2.2rem;
  padding: 5px;
  padding-left: 0px;
}
.wrapper p {
  font-size: 1.8rem;
  padding: 5px;
}
.wrapper .FlexPen {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .wrapper .FlexPen {
    flex-flow: column nowrap;
  }
}
.wrapper .partyPen {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .wrapper .partyPen {
    flex-flow: column nowrap;
  }
}
.wrapper .PartyBox {
  padding: 10px;
  max-width: 33%;
}
@media (max-width: 500px) {
  .wrapper .PartyBox {
    width: 99%;
    max-width: 99%;
  }
}
.wrapper .PartyBox li {
  font-size: 1.6rem;
  padding: 5px;
  padding-left: 0px;
}
.wrapper .partyFlair {
  border: 5px solid orange;
  background-color: darkorange;
}
.wrapper .kenFlair {
  border: 5px solid #d08f6d;
  background-color: #c06a3e;
  color: #e5e7e7;
}
.wrapper .kenBox {
  border: 5px solid #d08f6d;
  background-color: #c06a3e;
  color: #e5e7e7;
  padding: 10px;
  max-width: 33%;
}
@media (max-width: 500px) {
  .wrapper .kenBox {
    width: 99%;
    max-width: 99%;
  }
}
.wrapper .kenBox li {
  font-size: 1.6rem;
  padding: 5px;
  padding-left: 0px;
}
.wrapper .bravaFlair {
  border: 5px solid #31284a;
  background-color: #191526;
  color: #27db51;
}
.wrapper .bravaBox {
  border: 5px solid #31284a;
  background-color: #191526;
  color: #27db51;
  padding: 10px;
  max-width: 33%;
}
@media (max-width: 500px) {
  .wrapper .bravaBox {
    width: 99%;
    max-width: 99%;
  }
}
.wrapper .bravaBox li {
  font-size: 1.6rem;
  padding: 5px;
  padding-left: 0px;
}
.wrapper .oreFlair {
  border: 5px solid #4e5559;
  background-color: #343637;
  color: #ffd700;
}
.wrapper .oreFlair li {
  color: #ffd74f;
}
.wrapper .oreBox {
  border: 5px solid #4e5559;
  background-color: #343637;
  color: #ffd700;
  padding: 10px;
  max-width: 33%;
}
.wrapper .oreBox li {
  color: #ffd74f;
}
@media (max-width: 500px) {
  .wrapper .oreBox {
    width: 99%;
    max-width: 99%;
  }
}
.wrapper .oreBox li {
  font-size: 1.6rem;
  padding: 5px;
  padding-left: 0px;
}
